<div class="edit-container">
  <div class="edit-contents">
    <%= form_tag("/users/#{@current_user.name}/update",multipart: true) do %>
      <div class="edit-view">
        <div class="edit-image-container">
          <div class="edit-image">
            <%= image_tag("/user_images/#{@current_user.image_name}",id: "user-image") %>
          </div>
        </div>
        <input type="file" id="user-image-file" name="user_image">
        <input type="button" id="user-image-select" value="画像を選択">
        <p>shou1027</p>
      </div>
      <div class="edit-tag">
        <p>タグ</p>
        <input type="text" placeholder="例:電子回路　マイコン" name="tags">
      </div>
      <input type="submit" value="変更する" class="edit-submit">
    <% end %>
    <div class="edit-worning">
      <p>Worning!</p>
      <%= link_to("アカウントを削除する","/users/#{@current_user.name}/destroy",{method:"post"}) %>
    </div>
  </div>
</div>