<% provide(:title,"ユーザー一覧") %>

<div class="index-container">
  <div class="index-contents">
    <div class="index-side index-line">
      <div class="index-side-container">
        <h1>ユーザー一覧</h1>
        <h2>索引</h2>
        <ul class="index-search-list">
          <% (("A".."Z").to_a.concat(("0".."9").to_a).append("_")).each do |str| %>
            <li>
              <%= link_to(str,"/#{str}") %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="index-main index-line">
      <div class="index-main-container">
        <ul class="index-user-list">
          <% @user.each do |u| %>
            <li>
              <%= link_to("/") do %>
                <img src="./shou.png">
              <% end %>
              <div class="index-user-name">
                <%= link_to(u.name + "  " + u.category,"/") %>
              </div>
            </li>
          <% end %>
          <%= paginate @user %>
        </ul>
      </div>
    </div>
  </div>
</div>