<% provide(:title,"ログイン") %>

<div class="login-container">
  <div class="login-contents">
    <h1>ログイン</h1>
    <div class="login-form">
      <%= form_tag("/login" ) do %>
        <p>ユーザー名</p>
        <input class="login-input" name="name" type="text">
        <p>パスワード</p>
        <input class="login-input" name="password" type="password">
        <input class="login-submit" type="submit" value="ログイン">
      <% end %>
    </div>
    <div class="sample-user">
      <div class="sample-user-wrapper">
        <p>sampleユーザー情報</p>
        <p>ユーザー名: sample</p>
        <p>パスワード: sample</p> 
      </div>
    </div>
  </div>
</div>