<% provide(:title,"ユーザー詳細") %>

<div class="user-container">
  <div class="user-contents">
    <div class="user-side user-line">
      <div class="user-side-container">
        <div class="user-view">
          <img src="./shou.png">
          <p>shou1027</p>
        </div>
        <div class="user-num-info">
          <div class="user-num">
            <p>0</p>
            <p>投稿</p>
          </div>
          <div class="user-num">
            <p>0</p>
            <p>いいね</p>
          </div>
          <div class="user-num">
            <p>0</p>
            <p>フォロー</p>
          </div>
          <div class="user-num">
            <p>0</p>
            <p>フォロワー</p>
          </div>
        </div>
        <a href="">アカウントを編集する</a>
      </div>
    </div>
    <div class="user-main user-line">
      <div class="user-main-container">
        <h1>投稿作品</h1>
        <ul>
          <li>
            <a href="">
              <div class="user-image">
                <img src="./shou.png">
              </div>
              <p href="">テストですテストですテストですテストですテストですテストですテストですテストですテストですテストです</p>
            </a>
          </li>
          <li>
            <a href="">
              <div class="user-image">
                <img src="./shou.png">
              </div>
              <p href="">テストですテストですテストですテストですテストですテストですテストですテストですテストですテストです</p>
            </a>
          </li>
          <li>
            <a href="">
              <div class="user-image">
                <img src="./shou.png">
              </div>
              <p href="">テストですテストですテストですテストですテストですテストですテストですテストですテストですテストです</p>
            </a>
          </li>
          <li>
            <a href="">
              <div class="user-image">
                <img src="./shou.png">
              </div>
              <p href="">テストですテストですテストですテストですテストですテストですテストですテストですテストですテストです</p>
            </a>
          </li>
          <li>
            <a href="">
              <div class="user-image">
                <img src="./shou.png">
              </div>
              <p href="">テストですテストですテストですテストですテストですテストですテストですテストですテストですテストです</p>
            </a>
          </li>
          <li>
            <a href="">
              <div class="user-image">
                <img src="./shou.png">
              </div>
              <p href="">テストですテストですテストですテストですテストですテストですテストですテストですテストですテストです</p>
            </a>
          </li>
          <li>
            <a href="">
              <div class="user-image">
                <img src="./shou.png">
              </div>
              <p href="">テストですテストですテストですテストですテストですテストですテストですテストですテストですテストです</p>
            </a>
          </li>
          <li>
            <a href="">
              <div class="user-image">
                <img src="./shou.png">
              </div>
              <p href="">テストですテストですテストですテストですテストですテストですテストですテストですテストですテストです</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>