<% provide(:title,"about") %>

<div class="about-container">
  <div class="about-contents">
    <h1>The photograph of the thing making is here.</h1>
    <h2>モノツクはもの作りの写真を掲載し、多くの人とアイデアを共有するサービスです</h2>
    <%= link_to("ユーザー登録","/signup") %>
    <p>自分が作った作品をみんなに知ってもらおう</p>
    <p>コメントには作り方や苦労したところ、感想など自由に書いていこう</p>
  </div>
</div>
