<% provide(:title,"help") %>

<div class="help-container">
  <div class="help-contents">
    <h1>ヘルプ</h1>
    <div class="help-content">
      <h2>初めての利用について</h2>
      <p>モノツクはもの作りに関する記事を投稿するサービスです。</p>
      <p>投稿は誰でも閲覧することができますが、投稿する際にはユーザー登録する必要があります</p>
      <p>投稿するときには右上のナビゲーションから投稿するを選択しましょう</p>
    </div>
    <div class="help-content">
      <h2>フォローについて</h2>
      <p>ログインユーザーはモノツクに登録されている他のユーザーをフォローすることができます。</p>
      <p>フォローをするとマイページのフォローに表示されたり、ホーム画面のタイムラインにフォローしたユーザーの投稿が表示されるようになるのでぜひ活用しましょう</p>
    </div>
    <div class="help-content">
      <h2>タグについて</h2>
      <p>投稿するときにはタグを設定することができます</p>
      <p>タグは投稿記事を探すときやジャンル分けに役立てることができるので、画像に関連した技術やジャンルをタグに含めましょう</p>
    </div>
  </div>
</div>
