<% provide(:title,"help") %>

<div class="help-container">
  <div class="help-contents">
    <h1>ヘルプ</h1>
    <div class="help-content">
      <h2>初めての利用について</h2>
      <p>モノツクはもの作りに関する記事を投稿するサービスです。</p>
      <p>投稿の閲覧は誰にでもすることができますが、記事を投稿する際にはユーザー登録をする必要があります</p>
      <p>投稿したいときにはログインしてから右上のナビゲーションから投稿するを選択しましょう</p>
    </div>
    <div class="help-content">
      <h2>フォローについて</h2>
      <p>ログインユーザーはモノツクに登録されている他のユーザーをフォローすることができます。</p>
      <p>フォローをするとマイページのフォローに表示されたり、ホーム画面のタイムラインにフォローしたユーザーの投稿が表示されるようになるので気に入ったユーザーはフォローしておきましょう。</p>
    </div>
    <div class="help-content">
      <h2>タグについて</h2>
      <p>投稿するときにはタグを設定することができます</p>
      <p>タグは投稿記事を探すときやジャンル分けに役立てることができるので、画像に関連した技術やジャンルをタグに含めましょう</p>
    </div>
    <div class="help-content">
      <h2>ユーザーが設定するタグ</h2>
      <p>ログインユーザーはアカウント編集画面でタグを設定できます。</p>
      <p>設定したタグはホーム画面のタグを選ぶとそれと関連した記事が表示されます。</p>
    </div>
  </div>
</div>
