<% provide(:title,"検索") %>

<div class="search-container">
  <div class="search-contents">
    <div class="search-form">
      <form action="">
        <input type="text">
        <input type="submit">
      </form>
    </div>
    <div class="search-main">
      <ul>
        <li>
          <a href="">
            <div class="search-image">
              <img id="hoge" src="./003.JPG">
            </div>
            <p>テストですテストですテストですテストですテストですテストですテストですテストですテストですテストですテストですテストです</p>
          </a>
        </li>
        <li>
          <a href="">
            <div class="search-image">
              <img src="./和順商事株式会社.png">
            </div>
            <p>テストですテストですテストです</p>
          </a>
        </li>
        <li>
          <a href="">
            <div class="search-image">
              <img src="./和順商事株式会社.png">
            </div>
            <p>テストですテストですテストです</p>
          </a>
        </li>
        <li>
          <a href="">
            <div class="search-image">
              <img src="./shou.png">
            </div>
            <p>テストですテストですテストです</p>
          </a>
        </li>
        <li>
          <a href="">
            <div class="search-image">
              <img src="./shou.png">
            </div>
            <p>テストですテストですテストです</p>
          </a>
        </li>
        <li>
          <a href="">
            <div class="search-image">
              <img src="./shou.png">
            </div>
            <p>テストですテストですテストです</p>
          </a>
        </li>
        <li>
          <a href="">
            <div class="search-image">
              <img src="./shou.png">
            </div>
            <p>テストですテストですテストです</p>
          </a>
        </li>
        <li>
          <a href="">
            <div class="search-image">
              <img src="./shou.png">
            </div>
            <p>テストですテストですテストです</p>
          </a>
        </li>
        <li>
          <a href="">
            <div class="search-image">
              <img src="./shou.png">
            </div>
            <p>テストですテストですテストです</p>
          </a>
        </li>
        <li>
          <a href="">
            <div class="search-image">
              <img src="./shou.png">
            </div>
            <p>テストですテストですテストです</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>