/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  margin: 0;
  background-color: rgb(245, 245, 245);
}

*{
  box-sizing: border-box;
}

ul{
  padding: 0;
  list-style: none;
  margin: 0;
}

h1,h2{
  margin: 0;
}

a{
  text-decoration: none;
}

p{
  margin: 0;
}

header{
  background-color: #77f;
}

.header-container{
  max-width: 1200px;
  height: 60px;
  overflow: hidden;
  margin: 0 auto;
  padding-right: 50px;
  padding-left: 20px;
}

.header-logo{
  height: 100%;
  display: inline-block;
}

.header-logo a{
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 30px;
  font-weight: bold;
  color: white;
  float: left;
}

.header-nav{
  height: 100%;
  float: right;
}

.header-nav li{
  float: left;
  height: 100%;
  display: flex;
  align-items: center;
}

.header-nav a{
  color: white;
  display: block;
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
}

.header-nav a:hover{
  background-color: #44f;
}

/**********footer**********/

footer{
  background-color: #555;
}

.footer-container{
  max-width: 1200px;
  height: 120px;
  overflow: hidden;
  margin: 0 auto;
  padding-right: 50px;
  padding-left: 20px;
}

.footer-logo{
  height: 100%;
  display: inline-block;
}

.footer-logo a{
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 30px;
  font-weight: bold;
  color: white;
  float: left;
}

.footer-nav{
  height: 100%;
  float: right;
}

.footer-nav li{
  float: left;
  height: 100%;
  display: flex;
  align-items: center;
}

.footer-nav a{
  color: white;
  display: block;
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
}

.footer-nav a:hover{
  background-color: #333;
}