.index-contents{
  max-width: 1100px;
  margin: 20px auto;
  padding: 0 20px;
  overflow: hidden;
}

.index-line{
  float: left;
}

.index-side{
  width: 250px;
}

.index-side-container{
  
}

.index-side h1{
  margin-top: 20px;
}

.index-side h2{
  margin-top: 40px;
}

.index-search-list{
  overflow: hidden;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
}

.index-search-list li{
  width: 20%;
  height: 30px;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  float: left;
}

.index-search-list a{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: blue;
}

.index-search-list a:hover{
  text-decoration: underline;
}

.index-main{
  width: calc(100% - 250px);
  padding-left: 20px;
}

.index-main-container{
  
}

.index-user-list li{
  overflow: hidden;
  padding: 10px;
  border-bottom: 1px solid #aaa;
}

.index-user-list img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.index-user-list img,
.index-user-name
{
  float: left;
}

.index-user-name{
  width: calc(100% - 50px);
  padding-left: 10px;
  padding-top: 5px;
}

.index-user-name a{
  color: blue;
}

.index-user-name a:hover{
  text-decoration: underline;
}

.index-user-list nav{
  margin:20px 0;
  text-align: center;
}

/**********show**********/

.user-contents{
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  overflow: hidden;
}

.user-line{
  float: left;
}

.user-side{
  width: 400px;
}

.user-side-container{
  width: 100%;
  background-color: white;
  padding: 30px 20px 30px 20px;
}

.user-view{
  text-align: center;
}

.user-view img{

}

.user-view p{
  margin-top: 10px;
}

.user-side-container img{
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  object-fit: cover;
}

.user-num-info{
  padding: 40px 10px 0 10px;
  overflow: hidden;
}

.user-num{
  width: 33.3%;
  text-align: center;
  float: left;
}

.user-side-container a{
  width: 100%;
  display: block;
  background-color: #77f;
  color: white;
  margin-top: 30px;
  padding: 3px 0;
  text-align: center;
}

.user-side-container a:hover{
  background-color: #55f;
}

.user-main{
  width: calc(100% - 400px);
  padding-left: 20px;
}

.user-main-container{
  height: 100%;
  background-color: white;
  padding: 20px 0px;
}

.user-main-container h1{
  padding-left: 20px;
}

.user-main-container ul{
  overflow: hidden;
}

.user-main-container li{
  width: 50%;
  padding: 15px;
  float: left;
}

.user-image{
  width: 100%;
	padding-bottom: 56.25%;
	position: relative;
}

.user-image img{
  width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: block;
  position: absolute;
  object-fit: contain;
  border: 1px solid #ddd;
}

.user-main-container p{
  margin: 10px auto 0 auto;
  width: 80%;
  height: 2.4em;
  color: black;
  font-size: 16px;
  line-height: 1.2em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-wrap: break-word;
}

.user-operation{
  margin-top: 5px;
}

.user-link{
  color: white;
  font-size: 12px;
  padding: 5px 10px;
  float: right;
}

.user-edit{
  background-color: green;
}

.user-edit:hover{
  background-color: darkgreen;
}

.user-delete{
  background-color: red;
  margin-left: 5px;
}

.user-delete:hover{
  background-color: darkred;
}

.user-main-container nav{
  margin:20px 0;
  text-align: center;
}

/**********login**********/

.login-contents{
  margin: 100px auto;
  max-width: 600px;
  background-color: white;
  padding: 20px;
}

.login-form{
  margin-top: 50px;
}

.login-input{
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  font-size: 16px;
}

.login-submit{
  background-color: green;
  border: none;
  font-size: 16px;
  padding: 5px 20px;
  margin: 0 auto;
  color: white;
  display: block;
}

.login-submit:hover{
  background-color: darkgreen;
}

/**********signup**********/

.signup-contents{
  margin: 100px auto;
  max-width: 600px;
  background-color: white;
  padding: 20px;
}

.signup-form{
  margin-top: 50px;
}

.signup-input{
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  font-size: 16px;
}

.signup-submit{
  background-color: green;
  border: none;
  font-size: 16px;
  padding: 5px 20px;
  margin: 0 auto;
  color: white;
  display: block;
}

.signup-submit:hover{
  background-color: darkgreen;
}

/**********edit**********/

.edit-contents{
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
}

.edit-image-container{
  max-width: 300px;
  margin: 0 auto;
}

.edit-view{
  text-align: center;
}

.edit-image{
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}

.edit-image img{
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
  position: absolute;
  object-fit: cover;
  border-radius: 50%;
}

#user-image-file{
  display: none;
}

#user-image-select{
  display: block;
  margin: 20px auto;
  height: 30px;
  width: 100px;
}

.edit-tag{
  margin-top: 20px;
}

.edit-tag input{
  width: 100%;
  height: 30px;
}

.edit-submit{
  border: none;
  background-color: green;
  width: 80px;
  height: 30px;
  color: white;
  display: block;
  margin: 30px auto 0 auto;
}

.edit-submit:hover{
  background-color: darkgreen;
}

.edit-worning{
  margin-top: 80px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: lightgray;
}

.edit-worning p{
  font-size: 20px;
}

.edit-worning a{
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.edit-worning a:hover{
  background-color: darkred;
}

@media(max-width: 1100px)
{
  /**********show**********/
  
  .user-main-container li{
    width: 50%;
  }
}

@media(max-width: 860px)
{
  /**********show**********/
  
  .user-line{
    float: none;
  }

  .user-side{
    width: 100%;
  }

  .user-main{
    width: 100%;
    padding-left: 0;
  }

  .user-main-container li{
    width: 50%;
  }
}


@media(max-width: 768px)
{
  .index-line{
    float: none;
  }

  .index-side{
    width: 100%;
  }

  .index-main{
    width: 100%;
    padding-left: 0;
  }
}

@media(max-width: 680px)
{
  /**********show**********/
  
  .user-main-container li{
    padding: 15px 5px;
  }
}